<!doctype html>
<html lang="en">

<head>
  <title>Customer platform</title>
  <% include ../templates/head.ejs %>
</head>

<body>
  <!-- Navbar -->
  <header>
    <% include ../templates/header.ejs %>
  </header>
  <main>
    <div class="container main pt-4">

    </div>
  </main>
  <footer>
    <% include ../templates/footer.ejs %>
  </footer>

</body>

</html>